
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

img{

    max-width: 20%;
}
header{
height: 250px;
background: #11abec;
padding: 15px;
}

h2{

    font-family: courgette;
}

h1{

    font-family: courgette;
font-size: 100px;
}
section{
background: #1fc3f9;
padding :10px;
}
nav ul{
    list-style-type: none;
padding: 0;
display: flex;
}
nav ul li{
margin:1px;

}
 
nav  ul li a{
text-decoration: none;
background: #999999;
color:#fff;
padding: 10px;
display:inline-block;
border-radius: 5px;
}

nav ul li a:hover{
    background: #333;
    color:#1500ff
    }